body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
}

:global(#root) {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}
