:root {
  /* light-green */
  --color-background-rgb: 23, 24, 36;
  --color-background: rgb(var(--color-background-rgb));

  /* blue */
  --color-accent-rgb: 48, 75, 130;
  --color-accent: rgb(var(--color-accent-rgb));

  /* white */
  --color-1-rgb: 252, 255, 254;
  --color-1: rgb(var(--color-1-rgb));

  /* red */
  --color-2-rgb: 245, 61, 107;
  --color-2: rgb(var(--color-2-rgb));
}

