.worldMapContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.worldMapContainer svg {
  width: 100%;
  fill: transparent;
  stroke: var(--color-1);
  position: relative;
}

.hover {
  stroke: var(--color-accent);
}

.visited {
  fill: var(--color-2);
}
